/*

---------------------------------------------------------


   <!--- Navbar start -->

     <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="/Bootstrap/Day2/asset/logo.png" alt="" height="40px" style="margin-left: 20px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Services</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Offers</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About</a>
              </li>

             
            </ul>
            <form class="d-flex" role="search" style="gap: 10px;">
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button">Login</button>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">Register</button>
            </form>
          </div>
        </div>
      </nav>

    <!--- Navbar end -->

    <!--Login button start-->

    
    <div class="modal" tabindex="-1" id="exampleModal1" >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    

                    <div class="col-md-4">
                        <label for="validationCustomUsername" class="form-label">Username</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                          <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                          <div class="invalid-feedback">
                            Please choose a username.
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Password</label>
                        <input type="password" class="form-control" id="validationDefault02"  required>
                      </div>

                
                  </form>
            </div>
            <div class="modal-footer">
              
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Login</button>
            </div>
          </div>
        </div>
      </div>


    <!--Login button end-->


    <!--Register button start-->

    <div class="modal" tabindex="-1" id="exampleModal" >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-md-4">
                      <label for="validationDefault01" class="form-label">First name</label>
                      <input type="text" class="form-control" id="validationDefault01"  required>
                    </div>
                    <div class="col-md-4">
                      <label for="validationDefault02" class="form-label">Last name</label>
                      <input type="text" class="form-control" id="validationDefault02"  required>
                    </div>

                    <div class="col-md-4">
                        <label for="validationCustomUsername" class="form-label">Username</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                          <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                          <div class="invalid-feedback">
                            Please choose a username.
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Password</label>
                        <input type="password" class="form-control" id="validationDefault02"  required>
                      </div>

                    <div class="col-md-4">
                      <label for="validationDefaultUsername" class="form-label">Mobile No</label>
                      <div class="input-group">
                        
                        <input type="tel" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
                      </div>
                    </div>

                    <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Email</label>
                        <input type="email" class="form-control" id="validationDefault02"  required>
                    </div>

                    <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Gender</label>
                        <br>
                        <input type="radio"  name="gender" required> Male
                        <br>
                        <input type="radio"  name="gender" required> Female
                      </div>

                  
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                        <label class="form-check-label" for="invalidCheck2">
                          Agree to terms and conditions
                        </label>
                      </div>
                    </div>
                
                  </form>
            </div>
            <div class="modal-footer">
              
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Register</button>
            </div>
          </div>
        </div>
      </div>

    <!--Register button end-->


-----------------------------------------------------------------------------------------------------------------


<div class="main">


    
    <!---section 1 start-->

    <section class="section1">

        <div class="main1">
            <div class="container">
                <div class="row" style="padding: 50px;">
                    <div class="col col-sm-6">
                        <h1 id="h1_title">Enhance Your Skills With CodePoint</h1>
                        <p style="color: white;">A Free community of coders who love to share their Knowledge with others.</p>
                        <button style="padding: 10px; border: none; border-radius: 10px; color: rgb(91, 91, 162); "><b>Explore the communities</b></button>
                    </div>
                    
                    <div class="col col-lg-6">
                       <img src="./assets/i1.png" alt=""style="margin-top: 30px;">
                    </div>
                </div>
            </div>
         
         
        </div>        

</section>

<!---section 1 end-->

<!---section 2 start-->

<section class="section2">



 

</section>

<!---section 2 end-->


<!---section 3 start-->

<section class="section3">



 

</section>

<!---section 3 end-->

<!---section 4 start-->

<section class="section4">



 

</section>

<!---section 4 end-->

<!---section 5 start-->

<section class="section5">



 

</section>

<!---section 6 end-->

<section class="section6">



 

</section>

<!---section 6 end-->



</div>






---------------------------------------------------------
<div class="navbody">

    <nav class="navbar justify-content-end" style="position: fixed; box-shadow: 2px 2px 5px gray; width: 100%;">
        <ul class="nav justify-content-end">
        
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: white;">Blogs</a>
              </li>
            <li class="nav-item">
              <a class="nav-link active text" aria-current="page" href="#" style="color: white;">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">Tutorials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">Roadmaps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;">IDE</a>
              </li>
            
          </ul>
    </nav>



 </div>
---------------------------------------------------------



 --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef; 
*/

.navbar {
    background-color: #5f5fe7;
    color: white;
}

.text {
    color: white;
}

#h1_title {
    margin-top: 150px;
    color: white;
}


.section1 {
    background-color:  #5f5fe7;
    height: 100%;
    width: 100%;
}

.section2 {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

.section3 {
    background-color:  #5f5fe7;
    height: 100%;
    width: 100%;
}

.section4 {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}


.section5 {
    background-color: #5f5fe7;
    height: 100%;
    width: 100%;
}

.section6 {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

.btnlang {
    padding: 15px; 
    width: 200px;
    border: none;
    background-color: rgb(220, 218, 218);
    border-radius: 10px;
}

.btn1 {
    padding: 8px;
    margin: 20px;
    width: 110px;
    border-radius: 10px;
    border: none;
    background-color: rgb(220, 218, 218);
}


